<div class="feature-resource-Container">
    <h3>Feature Resources</h3>
    <div class="scroller">
        <img src="titles/pktnuress_big.png" alt="title1">
        <img src="titles/calculator_big.png" alt="title1">
        <img src="titles/pktnuress_big.png" alt="title1">
        <img src="titles/calculator_big.png" alt="title1">
        <img src="titles/pktnuress_big.png" alt="title1">
        <img src="titles/calculator_big.png" alt="title1">
        <img src="titles/pktnuress_big.png" alt="title1">
        <img src="titles/calculator_big.png" alt="title1">
        <img src="titles/calculator_big.png" alt="title1">
        
    </div>
</div>