<header>
    <a routerLink="/">
        <img class="logo" src="logo_skyscapewebviewerlarge.gif" alt="skyscape-logo">
    </a>

    <nav>
        <a routerLink="/">Home</a>
        <a routerLink="/Home/BrowseAll">Browser All Titles</a>
        <button 
            type="button"
            class="darkModeBtn btn">
            <img class="svg-icon icon" src="icons/brightness.svg" alt="light-Mode"/>
        </button>
        
        <a routerLink="/login">
            <button 
                type="button"
                class="darkModeBtn btn"
                >
                    Sign Up
                    <img class="svg-icon icon" src="icons/arrow-small-right.svg" alt="right-arrow"/>
            </button>
        </a>
    </nav>
</header>
