.icon {
    width: 15px;
}


footer {
    background-color: rgb(218, 218, 217);
    position: relative; /* Not fixed */
    bottom: auto;
}

.heading, .contactUs-container  {
    color:rgb(131, 132, 132)
}

.heading {
    margin-bottom: 1rem;
}


.contactUs-container {
    display:inline-flex;
    gap: 10px;
}

.actions img{
    margin-left: 15px;
}

.copyright-info {
    font-size: 12px;
    margin-top: 20px;
    color:rgb(131, 132, 132)
}
