.icon{
    /* background-color: inherit; */
    width: 1.3rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    box-shadow: 6px 3px 16px  rgba(158, 158, 158, 0.715);

}

.logo {
    width: 14rem;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 500px;
    gap: 20px;
    justify-content: right;
    align-items: center;
}




nav a {
    text-decoration: none;
    color: black;

}