<header>
    <img class="logo" src="logo_skyscapewebviewerlarge.gif" alt="skyscape-logo">

    <nav>
        <a href="./">Home</a>
        <a href="./">Browser All Titles</a>
        <button 
            type="button"
            class="darkModeBtn btn">
            <img class="svg-icon icon" src="icons/brightness.svg" alt="light-Mode"/>
        </button>
        <button 
            type="button"
            class="darkModeBtn btn">
            <span>
                Sign Up
            </span>
            <img class="svg-icon icon" src="icons/arrow-small-right.svg" alt="right-arrow"/>
        </button>
    </nav>
</header>
