<article class="login-container">


    <form class="form-container" (ngSubmit)="onSubmit(email.value, password.value)" #form>
        <header>
            <img class="logo" src="logo_skyscapewebviewerlarge.gif" alt="logo">
        </header>
        <p>
            <label>Email</label>
            <input type="email" id="email" #email required/>
        </p>
        <p>
            <label>Password</label>
            <input type="password" id="password" #password required/>
        </p>

        <span class="checkbox-span">
            <input type="checkbox" id="rememberEmail">
            <label for="rememberEmail">Remember my email</label>
        </span>

        <button 
            type="submit"
            class="submit-btn btn-grad "
            (click)="onSubmit(email.value,password.value)">

            Sign in
        </button>

        <button 
            type="submit"
            class="register-btn">
            <span>Register Now</span>
             <img class="icon" src="icons/angle-double-small-right.svg"/>
        </button>

    <p class="forgotPass-text"><a href="./">Forgot your password?</a></p>

    </form>
</article>
