.login-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
}


.login-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../../../../../public/thermometer-with-high-temperature-pills.jpg') center center / cover no-repeat;
    opacity: 0.5; /* Adjust image opacity */
    z-index: -2;
}

/* Black tint overlay */
.login-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* Adjust tint strength */
    z-index: -1;
}


.form-container {
    width: 450px;
    padding: 30px 50px;
    /* margin: 3rem auto; */
    border: 1px solid  rgba(158, 156, 156, 0.319);
    box-shadow: 1px 5px 5px rgba(160, 157, 157, 0.538);
    border-radius: 8px;
    background-color:  rgba(148, 148, 146, 0.693);
    /* backdrop-filter: blur(2px); */
}


.form-container .logo {
    scale: 50%;
    /* stroke:blue; */
}

form {
    display: flex;
    flex-direction: column;
    gap:15px;
}

form p {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    font-weight: 500;
}

p input {
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cac8c8;

}

p input:focus,p input:active {
    background-color: aliceblue;
    padding-left: 5px;
}

h2 {
    text-align: center;
}

span {
    display: inline-flex;
    gap: 5px;
    font-weight: 400;
    align-items: baseline;
} 

button {
    margin: 10px 0px;
    padding: 15px 35px;
    text-align: center;
}




.forgotPass-text {
    /* margin-top: 20px; */
    text-align: center;
    text-decoration: none;
}

.forgotPass-text a {
    text-decoration: none;
    color:#511ec1;
    

}

.forgotPass-text a:hover {
    color:#061c7c;
}



.icon {
    width:15px;
}



.btn-grad {background-image: linear-gradient(to right, #3d68a1 0%, #589ddd  51%, #2a5287  100%)}
.btn-grad {
    margin: 10px 0px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    margin-bottom: -12px;

    }

    .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    }



         

