<div class="feature-resource-Container">
    <h3>Feature Resources</h3>
    <div class="scroller">
        <img src="titles/pktnuress_big.png" alt="title1">
        <img src="titles/calculator_big.png" alt="title1">
        <img src="titles/pktnuress_big.png" alt="title1">
        <img src="titles/calculator_big.png" alt="title1">
        <img src="titles/pktnuress_big.png" alt="title1">
        <img src="titles/calculator_big.png" alt="title1">
        <img src="titles/pktnuress_big.png" alt="title1">
        <img src="titles/calculator_big.png" alt="title1">
        <img src="titles/calculator_big.png" alt="title1">
        
    </div>

    <a routerLink="/Home/BrowseAll">
        <button class="view-btn">
            <span>
            View all resources
            </span>
            <img class="icon" src="icons/angle-double-small-right.svg"/></button>
    </a>
</div>