<footer>
    <div class="footer-container">
        <h3 class="heading">Powered by Skylight, MedIndia</h3>
        <div class="contactUs-container">
            <span class="contact-head">Connect with us:</span>
            <div class="actions">
                <img src="connect-us/envelope.svg" alt="" class="icon">
                <img src="connect-us/facebook.svg" alt="" class="icon">
                <img src="connect-us/instagram.svg" alt="" class="icon">
            <img src="connect-us/twitter-alt.svg" alt="" class="icon">
            <img src="connect-us/youtube.svg" alt="" class="icon">
        </div>
        </div>
        <div class="copyright-info">
            <p>
                Copyright © 2013-2033. All rights reserved. Skylight® is the registered trademark of Skylight MedpIndia, Inc.
            </p>
            <p class="copyright">
                All other trademarks, service marks and registrations are the intellectual properties of their respective owners.
            </p>
        </div>
    </div>
</footer>
